@model Models.Trail.TrailDetail

@{
    ViewBag.Title = Model.Name;
}

    <h2 style="color:#1a394e; font-family: 'Montserrat', sans-serif; font-weight:bold;">@ViewBag.Title</h2>

<h3 style="color:#1a394e; font-family: 'Montserrat', sans-serif;">Are you sure you want to delete this trail?</h3>
<hr />

<div style="background-color:#91c7de; border:solid 5px #1a394e; color:#1a394e; padding:25px;">

    <dl class="dl-horizontal" style="font-size:1.10em;">
        @Html.HiddenFor(model => model.TrailId)
        @Html.HiddenFor(model => model.ParkId)

        <dt style="font-family: 'Montserrat', sans-serif; font-weight: 900;">
            @Html.DisplayNameFor(model => model.Name) :
        </dt>

        <dd style="font-family: 'Roboto Condensed', sans-serif; font-size:1.25em;">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt style="font-family: 'Montserrat', sans-serif; font-weight: 900;">
            @Html.DisplayNameFor(model => model.Length) :
        </dt>

        <dd style="font-family: 'Roboto Condensed', sans-serif; font-size:1.25em;">
            @Html.DisplayFor(model => model.Length)
        </dd>

        <dt style="font-family: 'Montserrat', sans-serif; font-weight: 900;">
            @Html.DisplayNameFor(model => model.AverageRating) :
        </dt>

        <dd style="font-family: 'Roboto Condensed', sans-serif; font-size:1.25em;">
            @Html.DisplayFor(model => model.AverageRating)
        </dd>

        <dt style="font-family: 'Montserrat', sans-serif; font-weight: 900;">
            @Html.DisplayNameFor(model => model.IsTrailALoop) :
        </dt>

        <dd style="font-family: 'Roboto Condensed', sans-serif; font-size:1.25em;">
            @Html.DisplayFor(model => model.IsTrailALoop)
        </dd>

        <dt style="font-family: 'Montserrat', sans-serif; font-weight: 900;">
            @Html.DisplayNameFor(model => model.Description) :
        </dt>

        <dd style="font-family: 'Roboto Condensed', sans-serif; font-size:1.25em;">
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" style="margin: 5px 0 0 100px;" />
        </div>
    }
</div>

<div style="margin:10px;">
    <a href="javascript:void(0);" onclick="history.go(-1);">Back to Details</a>
</div>
